<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8"/>
        <meta content="电影明星范，电影影评，粉丝影评" name="Keywords"/>
        <meta content="可能是最好的影星粉丝聚集地，也许会成为最大的影评之家" name="Description"/>
        <meta content="XHp4WVXpLj" name="baidu-site-verification"/>
        <title>
            <%= title %>
        </title>
        <link href="/favicon.ico" rel="shortcut icon">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <script src="//code.jquery.com/jquery.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
    </head>
    <body>
      
        <nav class="navbar navbar-inverse">
            <div class="navbar-header">
                
                 <ul class="nav navbar-nav container">
                    
                    <li><a href="/add/">添加文章</a></li>
                    <li><a href="/list/">文章列表</a></li>
                    <li><a href="/category/">分类管理</a></li>
                    <li><a href="/" target="_blank">前台首页</a></li>
                </ul>
                
            </div>
        </nav>
   