<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8"/>
        <meta name="Keywords" content="电影明星范，电影影评，粉丝影评" />
        <meta name="Description" content="可能是最好的影星粉丝聚集地，也许会成为最大的影评之家" />
        <title>
            <%= title %>
        </title>
        <link href="/semantic/semantic.min.css" rel="stylesheet" type="text/css"/>
        <link href="/static/stylesheets/style.css" rel="stylesheet" type="text/css"/>
        <script src="//cdn.bootcss.com/jquery/2.2.4/jquery.min.js">
        </script>
        <script src="/semantic/semantic.min.js">
        </script>
        <script type="text/javascript" src="/static/javascripts/common.js"></script>
    </head>
    <body>
        <div class="ui inverted vertical masthead center aligned segment">
            <div class="ui container">
                <div class="ui large secondary inverted pointing menu">
                    <a class="active item" href="/">首页</a>
                    <a class="item" href="/category/">文章</a>
                    <a class="item" href="/about/">关于</a>
                    <a class="item" href="/chat/">在线聊天室</a>
                </div>
            </div>
        </div>    
