body {
  padding: 50px;
  background: #1b1c1d;
  color: rgba(255,255,255,.9);
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
.fr{
	float:right;
}
.fl {
	float:left;
}

.ui.item p {
	margin: 10px;
}

.pager li {
	list-style: none;
	float: left;
	padding: 5px;
	font-size: 18px;
	line-height: 10px;
}

.pager li.active a {
	color:red;
}